
.aboutMe__section {
    margin: 140px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1660px;
    position: relative;
    
}
 
/* khi phần tử con có position absolute, phải đặt position relative cho ptu cha */
.aboutMe__section img {
    position: absolute;

    /* nằm dưới nội dung chính */
    z-index: -10;
    height:auto;
    width: 220px;
}
.aboutMe__section img:nth-child(1) {
    top: -20%;
    left: 1%;
    z-index: -10;

    /* tên keyframe:  float, ease in out là cách di chuyển*/
    animation: float 6s ease-in-out infinite;
}
.aboutMe__section img:nth-child(2) {
    bottom: -20%;               
    right: 0;
    z-index: 1;
    animation: float 7s 1s ease-in-out infinite;
}

.aboutMe__container {
    width: 70%;
    padding: 48px;
    background-color: hsla(var(--p-600-code), 0.1);
    border-radius: 3rem;
}

.aboutMe__content_container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3rem;
    padding: 3rem 0;

}
.aboutMe__content_container h1 {
    color: var(--p-600);
}

.aboutMe__content_container p {
    color: var(--n-600);
    padding: 0 1rem;
}

.CTA {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    /* xuong hàng khi màng hình k đủ chỗ*/
    flex-wrap: wrap; 
    max-width: 90%;

    

}
.CTA a {
    padding: 12px 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.primaryButton {
    color: white;
    background-color: var(--p-600);
    box-shadow: 0 3px 6px -1px hsla(var(--p-700-code), 0.2),
      0 1px 2px hsla(var(--p-700-code), 0.5);

}
.primaryButton:hover {
    background-color: var(--p-700);
    box-shadow: 0 4px 8px hsla(var(--p-700-code), 0.2),
      0 2px 4px hsla(var(--p-700-code), 0.3),
      0 1px 2px hsla(var(--p-900-code), 0.5); 
}
.outlineButton {
    border: 1px solid var(--p-600);
    color: var(--p-600);
    background-color: transparent;

}

.outlineButton:hover {
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.1),
      0 2px 4px hsla(var(--p-900-code), 0.3);
}