header {
    margin-top: 40px;
}

.header__container {
    display: flex;
    gap: 40px;

    & p {
        color: var(--n-600);

    }

    & span {
        color: var(--n-950);
        font-weight:600;
    }

}

.header__title {
    font-size: var(--h2-font-size);
    line-height: var(--h2-ling-height);
    font-weight: 600;
}

.header__column--left {
    /* dàn hàng ngang */
    display: flex;
    /* phải có flexbox, k viết flex-direction mặc định là row */

    /* flex = 1, in order to expand to occupy all the space */
    flex: 1;
    gap: 24px;
    align-items: center;     /* căn giửa theo trục phụ */

/* lòng ptu con vào phần tử cha (mục đích: ngắn gọn dễ đọc)*/
    & .header__content--left {
      display: flex; /* turn on mode flexbox */
      flex-direction: column; /* phải có flexbox, k viết flex-direction mặc định là row */
      gap: 8px;
    }    
    & .header__badge-container {
        display: flex;
        gap: 6px;
        text-align: center;
    }    

    & .badge {
        font-size: var(--caption-font-size);
        line-height: var(--caption-line-height);
        color: var(--p-950);
        padding: 4px 12px;
        background-color: var(--p-50);
        border-radius: 4px;

        /* line clamp (1 trong những cách giới hạn dòng, explore more plz): giới hạn số dòng thành 1 dòng */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }                                                                      
}

/* đã lòng vào trong phần tử cha (.header__column--left)
.header__content--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
*/

.header__column--right {
    display : flex;
    flex: 1;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}


.header__img {
    width: 118px;
    height: 118px;
    background-image: url("../../assets/avatar.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;   
    flex-shrink: 0; /* để phần tử k bị thu hẹp trong 1 flex container */
    border-radius: 50%; 
    
}       