.projects_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* auto-fit: grid sẽ auto fit số lượng rows dựa trên kích thướng màn hình
, minmax(auto,...): auto có nghĩa là có width tối thiều = auto, nghĩa là dựa 
theo size of content */

.projects__cards_container {
    display: grid;
    margin: 0 auto;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
    gap: 32px;
    justify-content: center;
    align-content: center;
    
}

.projects__cards {
    border: 1px solid hsla(var(--p-700-code), 0.1);
    border-radius: 24px;
    background: var(--foreground-color);
    overflow: clip;

    /* shadow */
    box-shadow: 1px 4px 6px -1px hsla(var(--p-950-code), 0.1),
    1px 2px 4px -2px hsla(var(--p-950-code), 0.1);
    transition: all 0.5s ease;
}
.projects__cards:hover {
    box-shadow: 0px 15px 40px -1px hsla(var(--p-950-code), 0.2);
    transform: scale(1.05) skew(-1deg, -1deg);/* phóng to và méo nhẹ tạo cảm giác 3d*/
}

.projects__cards_wrapper {
    background: hsla(var(--p-700-code), 0.1);
    padding: 24px;
    border-start-start-radius: 1rem;
}
/* 
object-fit: cover: giúp pic k bị mẽo, lấp đầy frame
*/

.projects__cards_img {
    width: 284px;
    height: 284px;
    object-fit: cover;
    border-radius: 24px;

    /* phóng to diễn ra trong 0.5s */
    transition: transform 0.5s ease;
}

.projects__cards_img:hover {
    
    /* bự lên 0.05 khi hover*/
    transform: scale(1.05);
}

.projects__cards_title {
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    gap: 4px;
}

.projects__cards_title h4 {
    font-size: var(--caption-font-size);
    line-height:var(--caption-line-height);
    text-transform: uppercase;
    color: var(--n-500);
}

.projects__cards_title h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--p-950);

    /* line clamp để h3 chỉ hiện trogn 1 line */
    /* -webkit sẽ cắt bớt khi quá dài 
    và nó k thể đi 1 mình, phải có các thuộc tính đi kèm
    */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}



