.skills__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills__grid_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 320px);
    gap: 12px;  
}

.skills__grid_item_header div {
    display: flex;
    gap: 3px;
    align-items: center;
}

.skills__grid_item_header h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    text-transform: capitalize;
}
.skills__grid_item_header p {
    margin-top: 12px;
    color: var(--n--500);
    max-width: 60ch;
}

.skills__grid_item {
    overflow: hidden;
    border: 2px solid var(--p-100);
    border-radius: 24px;
    background-color: var(--p-20);
    padding: 2rem 2rem;
    box-shadow: 0px 2px 4px hsla(233, 45%, 28%, 0.1);
}

.skills__grid_item:nth-child(1) {
    border: none;
    /* background-image: url("../../assets/minidragon1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: url("../../assets/minidragon1.jpg") center / cover no-repeat;
}

.skills__grid_item:nth-child(2) {
    grid-column: span 2; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skills__grid_item:nth-child(2) .icons__list-wrapper{
    overflow: hidden;
    margin-top: 8px;
    display: flex;
    gap: 12px;



}
.skills__grid_item:nth-child(2) .icons__list-wrapper:nth-child(2) > div.icons-list {
    animation: move-left 30s linear infinite;
}
.skills__grid_item:nth-child(2) .icons__list-wrapper:nth-child(3) > div.icons-list {
    animation: move-right 60s linear infinite;
}

.skills__grid_item:nth-child(2) .icons-list {
    display: flex;
    min-width: 100%;
    gap: 12px;
    flex-shrink: 0;
}
.skills__grid_item:nth-child(2) .icon-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.14em;
    border-radius: 12px;
    padding: 0.6em 0;
    width: 12em;
    font-weight: 700;
    font-size: var(--caption-font-size);
    text-transform: uppercase;
}
.skills__grid_item:nth-child(2) img {
    height: 2em;

}

.skills__grid_item:nth-child(2) .icon-badges:nth-child(even) {
    background: var(--main-gradient-color);
    color: white;

}
.skills__grid_item:nth-child(2) .icon-badges:nth-child(odd) {
    background: white;
    border: 1px solid var(--p-100);
    color: black;

}
.skills__grid_item:nth-child(2) .icon-badges:nth-child(odd) span {
    /* background: var(--main-gradient-color);*/
    background: white;
    color: transparent;
    background-clip: text;
}


.skills__grid_item:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__grid_item:nth-child(3) .softSkills__container {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
    margin-top: 8px;
}   
.skills__grid_item:nth-child(3) .softSkills_badge {
    height: 36px;
    width: 244px;
    border: 1px solid var(--p-100);
    border-radius: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--caption-font-size);
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
}
.skills__grid_item:nth-child(3) p {
    background: var(--main-gradient-color);
    color: transparent;
    background-clip: text;
}
.skills__grid_item:nth-child(3) .softSkills_badge:nth-child(1) {
    top: 25%;
    left: 10%;
}
.skills__grid_item:nth-child(3) .softSkills_badge:nth-child(2) {
    bottom: 10%;
    left: 20%;
}
.skills__grid_item:nth-child(3) .softSkills_badge:nth-child(3) {
    top: 25%;
    right: 20%;
}
.skills__grid_item:nth-child(3) .softSkills_badge:nth-child(4) {
    bottom: 10%;
    right: 5%;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons {
/* đặt position relative để làm gốc cho những pic
 bên trong có thể định vị bằng position absolute */
    position: relative;
    height: 100%;
    width: 100%;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons img {
    height: 40px;
    width: 40px;

    /* các img có thể di chuyển tới nơi mà mình muốn bằng position absolute */
    position: absolute;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons img:nth-child(1) {
     top: 40px;
     left: 45px;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons img:nth-child(2) {
     top: 25%;
     left: 46%;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons img:nth-child(3) {
     top: 70%;
     left: 15%;
}
.skills__grid_item:nth-child(3) .softSkills__book_icons img:nth-child(4) {
     bottom: 10%;
     right: 35%;
}

.skills__grid_item:nth-child(4) {
    background: url("../../assets/minidragon2.jpg") center / cover no-repeat;
    border: none;

}
.skills__grid_item:nth-child(4):hover {
    background-image: url("../../assets/cat2.jpeg");
}